@model Arti.Client.Models.TaskArti

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TaskArti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startTask" class="control-label"></label>
                <input asp-for="startTask" class="form-control" />
                <span asp-validation-for="startTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endTask" class="control-label"></label>
                <input asp-for="endTask" class="form-control" />
                <span asp-validation-for="endTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <input asp-for="CompanyID" class="form-control" />
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CraftsmanID" class="control-label"></label>
                <input asp-for="CraftsmanID" class="form-control" />
                <span asp-validation-for="CraftsmanID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
